.marks {
    --width: 1px;
    --length: 0.25in;
    --color: hsl(0, 0%, 80%);
    &,
    > * {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    > * {
        display: grid;
        > * > *, > ::before, > ::after {
            content: "";
            border: 0px solid var(--color);
        }
        &.rows {
            align-content: space-evenly;
            > * {
                display: flex;
                justify-content: space-between;
                &::before,
                &::after {
                    width: var(--length);
                    border-top-width: var(--width);
                }
                > * {
                    width: calc(var(--length) / 2);
                    border-top-width: var(--width);
                    margin: 0 calc(var(--length) * 3 / 4);
                }
            }
        }
        &.columns {
            grid-auto-flow: column;
            justify-content: space-evenly;
            > * {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &::before,
                &::after {
                    height: var(--length);
                    border-left-width: var(--width);
                }
                > * {
                    height: calc(var(--length) / 2);
                    border-left-width: var(--width);
                    margin: calc(var(--length) * 3 / 4) 0;
                }
            }
        }
    }
}
