:root {
  --width: 8.5in;
  --height: 11in;
  --margin: .5in;
  --rows: 1;
  --columns: 1;
}

html {
  height: 100%;
  font-family: var(--font-body, sans-serif);
}
@media screen {
  html {
    background-color: #333;
  }
}

body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
th,
label,
legend,
caption,
figcaption {
  font-family: var(--font-heading);
  line-height: 1;
}

@page {
  size: var(--width) var(--height);
  margin: 0;
  @top-left {
    content: "Page " counter(pageNumber);
  }
}
@page landscape {
  size: var(--height) var(--width);
}
@page portrait {
  size: var(--width) var(--height);
}
.page--page {
  display: contents;
}

:host {
  --width: 8.5in;
  --height: 11in;
  --margin: .25in;
  --rows: 1;
  --cols: 1;
  position: relative;
  width: var(--width);
  height: var(--height);
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}
@media screen {
  :host {
    background-color: #fff;
    box-shadow: 0.15em 0.15em 0.4em rgba(0, 0, 0, 0.2);
    margin: 1em auto;
  }
}

slot, .slot {
  padding: var(--margin);
  display: block;
  overflow: hidden;
}

.page--parts {
  display: grid;
  padding: var(--margin);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: calc(2 * var(--margin));
  align-items: stretch;
  justify-items: stretch;
}
.page--parts > div {
  position: relative;
  z-index: 1;
}

.marks {
  --marks-length: 18;
  --marks-width: 0.5;
  --marks-color: hsl(0, 0%, 0%, .1);
  --marks-style: solid;
  --marks-stroke: calc(1pt * var(--marks-width)) var(--marks-style) var(--marks-color);
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.marks > * {
  grid-row: 1;
  grid-column: 1;
  display: grid;
}
.marks > * > * > *,
.marks > * > ::before,
.marks > * > ::after {
  content: "";
}
.marks > *:last-child {
  align-content: space-evenly;
}
.marks > *:last-child > * {
  display: flex;
  justify-content: space-between;
}
.marks > *:last-child > * > *, .marks > *:last-child > *::before, .marks > *:last-child > *::after {
  border-top: var(--marks-stroke);
}
.marks > *:last-child > * > * {
  width: calc(1pt * var(--marks-length) / 2);
  margin: 0 calc(1pt * var(--marks-length) * 3 / 4);
}
.marks > *:last-child > *::before, .marks > *:last-child > *::after {
  width: calc(1pt * var(--marks-length));
}
.marks > *:first-child {
  grid-auto-flow: column;
  justify-content: space-evenly;
}
.marks > *:first-child > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.marks > *:first-child > * *, .marks > *:first-child > *::before, .marks > *:first-child > *::after {
  border-left: var(--marks-stroke);
}
.marks > *:first-child > *::before, .marks > *:first-child > *::after {
  height: calc(1pt * var(--marks-length));
}
.marks > *:first-child > * > * {
  height: calc(1pt * var(--marks-length) / 2);
  margin: calc(1pt * var(--marks-length) * 3 / 4) 0;
}