@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'variables.css';
@import 'boilerplate.css';
@import 'page.css';


.page {
	display: grid;
	grid-template-rows: auto 1fr;
	font-size: 20pt;
	text-align: center;
	h2 {
		font-style: italic;
	}
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	header {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
		img {
			height: 7em;
		}
	}
	p {
		border: .1em solid black;
		padding: .25em .5em;
		border-radius: .25em;
		font-size: 2.5em;
	}
	strong {
		font-size: 1.5em;
	}
	&.portrait {
	font-size: 16pt;
	}
	.tableau {
		font-size: 1.5em;
		border: .1em solid black;
		padding: .25em 1em;
		border-radius: .25em;
		display: grid;
		grid-template-columns: auto auto;
		border-collapse: collapse;
		gap: .25em 1ch;
		>div {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: 1 / -1;
		}
		strong {
			font-size: 1em;
		}
		th, td {
			border: .05em solid black;
			padding: .25em .5em;
		}
		th {
			background-color: var(--couleur-primaire-clair);
		}
	}
}