:root {
  --width: 8.5in;
  --height: 11in;
  --margin: .5in;
  --rows: 1;
  --columns: 1;
}

html {
  height: 100%;
  font-family: var(--font-body, sans-serif);
}
@media screen {
  html {
    background-color: #333;
  }
}

body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
th,
label,
legend,
caption,
figcaption {
  font-family: var(--font-heading);
  line-height: 1;
}

@page {
  size: var(--width) var(--height);
  margin: 0;
  @top-left {
    content: "Page " counter(pageNumber);
  }
}
@page landscape {
  size: var(--height) var(--width);
}
@page portrait {
  size: var(--width) var(--height);
}
.page--page {
  position: relative;
  width: var(--width);
  height: var(--height);
  display: grid;
}
.page--page > * {
  grid-row: 1/1;
  grid-column: 1/1;
}
@media screen {
  .page--page {
    background-color: #fff;
    box-shadow: 0.5em 0.5em 1em black;
    margin: 1em auto;
  }
}

.page--parts {
  display: grid;
  padding: var(--margin);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: calc(2 * var(--margin));
  align-items: stretch;
  justify-items: stretch;
}
.page--parts > div {
  position: relative;
  z-index: 1;
}

.page--marks {
  --length: 0.25in;
  --stroke: .5px solid hsl(0, 0%, 80%);
  display: grid;
}
.page--marks > * {
  grid-row: 1;
  grid-column: 1;
  display: grid;
}
.page--marks > * > * > *,
.page--marks > * > ::before,
.page--marks > * > ::after {
  content: "";
}
.page--marks > *:last-child {
  align-content: space-evenly;
}
.page--marks > *:last-child > * {
  display: flex;
  justify-content: space-between;
}
.page--marks > *:last-child > * > *, .page--marks > *:last-child > *::before, .page--marks > *:last-child > *::after {
  border-top: var(--stroke);
}
.page--marks > *:last-child > * > * {
  width: calc(var(--length) / 2);
  margin: 0 calc(var(--length) * 3 / 4);
}
.page--marks > *:last-child > *::before, .page--marks > *:last-child > *::after {
  width: var(--length);
}
.page--marks > *:first-child {
  grid-auto-flow: column;
  justify-content: space-evenly;
}
.page--marks > *:first-child > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page--marks > *:first-child > * *, .page--marks > *:first-child > *::before, .page--marks > *:first-child > *::after {
  border-left: var(--stroke);
}
.page--marks > *:first-child > *::before, .page--marks > *:first-child > *::after {
  height: var(--length);
}
.page--marks > *:first-child > * > * {
  height: calc(var(--length) / 2);
  margin: calc(var(--length) * 3 / 4) 0;
}